section.main
  .container
    .main__image
      img(src="assets/img/upload/background/index_main.jpg", alt="")
    .main__content
      h1 Разрабатываем и развиваем функциональные сайты
      p Мы разрабатываем только актуальные веб-сайты
      button(data-popup="#mainForm") Оставить заявку

section.main-features
  .container
    .main-features__item
      img(src="assets/img/upload/icons/internet_network.svg", alt="")
      p Реализовываем
    .main-features__item
      img(src="assets/img/upload/icons/decentralization_decentralized.svg", alt="")
      p Модернизируем
    .main-features__item
      img(src="assets/img/upload/icons/arrows_system.svg", alt="")
      p Поддерживаем
