section.about
  .container
    h2.about__title Мы <b>разрабатываем web-сайты</b> и интернет-порталы, оказываем услуги по seo-продвижению и технической поддержке. <b>Cоздаем фирменные стили компаний</b> и разрабатываем мобильные версии.
    .about__text
      p В каждой новой разработке корпоративного сайта мы подтверждаем уровень и качество работ. Выполняем проекты для ведущих веб-студий и агентств Москвы в качестве субподрядчиков. Ключевой состав команды работает с момента основании компании. <br> Мы гарантируем индивидуальный подход к каждому новому web-сайту.

    include ../common/services-list
