section.last-notes
  .container
    .header-block
      h2 Последние записи
      a(href="#") Блог
    .last-notes__body
      .last-notes__post
        a.last-notes__cover(href="")
          img(src="assets/img/upload/background/post-1.jpg", alt="")
        .last-notes__detalis
          span.last-notes__info.view 123
          span.last-notes__info.star 5.5
          span.last-notes__info.date 01.10.2022г.
        h3.last-notes__title Google Maps – всё? Переходим на Яндекс Карты
        p.last-notes__excert Сейчас при разработке мобильных приложений Google Карты лучше не использовать. У этого две причины текст текст текст текст
      .last-notes__post
        a.last-notes__cover(href="")
          img(src="assets/img/upload/background/post-2.jpg", alt="")
        .last-notes__detalis
          span.last-notes__info.view 521
          span.last-notes__info.star 2.5
          span.last-notes__info.date 15.09.2022г.
        h3.last-notes__title Простыми словами о «фронтенде» и «бэкенде»
        p.last-notes__excert Вы наверняка уже слышали эти модные в сфере программирования слова «фронтенд» и «бэкенд», но что за ними текст текст текст текст
      .last-notes__post
        a.last-notes__cover(href="")
          img(src="assets/img/upload/background/post-3.jpg", alt="")
        .last-notes__detalis
          span.last-notes__info.view 1
          span.last-notes__info.star 1.5
          span.last-notes__info.date 20.08.2022г.
        h3.last-notes__title 9 способов защититься от утечки данных
        p.last-notes__excert Нарушение данных — это нарушение безопасности, при котором конфиденциальные, защищенные текст текст текст текст
