section.contacts-main
  .container
    .header-block
      h1 Контакты
    .contacts-main__body
      .contacts-main__left
        .contacts-main__socials
          a(href="#")
            img(src="assets/img/upload/icons/vk.svg", alt="")
          a(href="#")
            img(src="assets/img/upload/icons/telegram.svg", alt="")
          a(href="#")
            img(src="assets/img/upload/icons/whatsapp.svg", alt="")
        .contacts-main__content
          .contacts-main__column
            .contacts-main__item
              span.name Наш офис:
              p.text г. Иркутск, ул. Коммунистическая , 44
            .contacts-main__item
              span.name Телефон:
              a(href="#").text +7 (952) 618-91-55
            .contacts-main__item
              span.name Эл. Почта:
              a(href="#").text info@goodbit.ru
          .contacts-main__column
            .contacts-main__item
              span.name Реквизиты:
              p.text.big ООО "ГУД БИТ" <br> ИНН 3808278450 <br>КПП 380801001 <br>ОГРН 1223800014954
      .contacts-main__right
        .contacts-main__links
          a(href="#").contacts-main__link
            .contacts-main__icon
              img(src="assets/img/upload/icons/download.svg", alt="")
            span Скачать реквизиты <span>(PDF, 19 МБайт)</span>
          a(href="#").contacts-main__link
            .contacts-main__icon
              img(src="assets/img/upload/icons/document.svg", alt="")
            span Презентация <span>(PDF, 13 МБайт)</span>
        .contacts-main__map
          script(async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1d3363a151aa3ebd0e5ab95dee7e6c1a44bf7faaa2daffba25d0e672ee0b52bd&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
