footer.footer#footer
  .container
    .footer__top
      a.footer__logo(href="#")
        img(src="assets/img/upload/logo.png", alt="Гуд бит")
      .footer__menu
        .footer__column
          .footer__header Меню
          ul.footer__list
            li.menu-item
              a(href="#") Главная
            li.menu-item
              a(href="#") О Компании
            li.menu-item
              a(href="#") Блог
            li.menu-item
              a(href="#") Вакансии
            li.menu-item
              a(href="#") Контакты
        .footer__column
          .footer__header Услуги
          ul.footer__list
            li.menu-item
              a(href="#") Веб-разработка
            li.menu-item
              a(href="#") Сопровождение и развитие
            li.menu-item
              a(href="#") Мобильная разработка
        .footer__column
          .footer__header Контакты
          ul.footer__list
            li.menu-item.phone
              a(href="#") +7 (952) 618-91-55
            li.menu-item.email
              a(href="#") info@goodbit.ru
          ul.footer__socials
            li.footer__social
              a(href="") Telegram
            li.footer__social
              a(href="") Вконтакте
            li.footer__social
              a(href="") WhatsApp
    .footer__bottom
      a.footer__link(href="#") Ссылка на презентацию
      p.footer__copyright © 2022 ООО “ГУД БИТ”
      a.footer__link(href="#") Политики конфиденциальности
