section.section-main.projects
  .container
    .header-block
      h2 Проекты
    .projects-block__body
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_1.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_2.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_3.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_4.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_5.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_5.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_2.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_3.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_4.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_5.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_2.jpg", alt="")
    ul.pagination
      li.pagination-item.active
        a(href="#") 1
      li.pagination-item
        a(href="#") 2
      li.pagination-item
        a(href="#") 3
      li.pagination-item
        span ...
      li.pagination-item
        a(href="#") 10
      li.pagination-item
        a(href="#") >
