// Media width
$mediaWidthLaptop: 1200px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobileHorizontal: 640px;
$mediaWidthMobile: 480px;
$mediaWidthMobileMin: 320px;

// Colors
$black: #343745;
$white: #ffffff;
$main: #fe4b4b;
$gray-h: #4b4e60;
$gray-l: #f3f6fb;
$border: #eaebf3;
$bg: #f8f9fb;
