section.core-value
  .container
    .header-block
      h2 Наши ценности
      a(href="#") Компания
    .core-value__body
      .core-value__item
        .core-value__head
          img(src="assets/img/upload/icons/core-1.svg", alt="")
          h3 Работа в команде <br> с клиентом
        .core-value__text
          p Мы не просто подрядчик, а надежныйи заинтересованный партнер. Нам важно играть с вами в одной команде и понимать, как работает ваш бизнес. Так мы находим решения, которые попадают в цель.
      .core-value__item
        .core-value__head
          img(src="assets/img/upload/icons/core-2.svg", alt="")
          h3 Проявляем <br> инициативу
        .core-value__text
          p Глубоко исследуем ваш проект и работаем на опережение. Предлагаем варианты решения проблем еще до того, как вы их обнаружите.
      .core-value__item
        .core-value__head
          img(src="assets/img/upload/icons/core-3.svg", alt="")
          h3 Заботимся <br> о клиентах
        .core-value__text
          p Знаем, как вам важно понимать, что происходит с вашим проектом. Поэтому мы всегда на связи, консультируем и объясняем без специальных терминов, на комфортном для вас языке
      .core-value__item
        .core-value__head
          img(src="assets/img/upload/icons/core-4.svg", alt="")
          h3 Планируем и <br> укладываемся в сроки
        .core-value__text
          p Наши система планирования и управления приоритетам позволяет запускать работающую версию проекта в срок. А потом дорабатывать ее без ущерба для вашего бизнеса.
      .core-value__item
        .core-value__head
          img(src="assets/img/upload/icons/core-5.svg", alt="")
          h3 Расширяем <br> кругозор
        .core-value__text
          p Следим за техноголическими новинками в разработке. Мы знаем множество рещений и предлагаем только те, что будут эффективны для достижения конкретной бизнес-задачи.
      .core-value__item
        .core-value__head
          img(src="assets/img/upload/icons/core-6.svg", alt="")
          h3 Становимся <br> лучше
        .core-value__text
          p Непрерывно пересматриваем и улучшаем процессы, повышаем компетентность сотрудников, берем новые профессиональные уровни. Мы растем, чтобы помогать расти вам.
