section.feedback-block
  .container
    .header-block
      h2 Отзывы
      a(href="#") Все отзывы
    .feedback-block__body
      .feedback-block__item
        .feedback-block__head
          .feedback-block__avatar
            img(src="assets/img/avatar.png", alt="")
          .feedback-block__name
            h3 Иван Иванов
            p Директор ООО “Компания”
        .feedback-block__content
          p Выполнили задачу на 100%, уложились раньше обговоренных сроков, все правки вносили без проблем, реализовали калькулятор так, как была поставлена задача. Отдельно хочу отметить админ панель, при работе с разными исполнителями в первый раз сделали настолько проработанную админку. Спасибо за работу! Обязательно обращусь еще.
      .feedback-block__item
        .feedback-block__head
          .feedback-block__avatar
            img(src="assets/img/avatar.png", alt="")
          .feedback-block__name
            h3 Иван Иванов
            p Директор ООО “Компания”
        .feedback-block__content
          p Выполнили задачу на 100%, уложились раньше обговоренных сроков, все правки вносили без проблем, реализовали калькулятор так, как была поставлена задача. Отдельно хочу отметить админ панель, при работе с разными исполнителями в первый раз сделали настолько проработанную админку. Спасибо за работу! Обязательно обращусь еще.
      .feedback-block__item
        .feedback-block__head
          .feedback-block__avatar
            img(src="assets/img/avatar.png", alt="")
          .feedback-block__name
            h3 Иван Иванов
            p Директор ООО “Компания”
        .feedback-block__content
          p Выполнили задачу на 100%, уложились раньше обговоренных сроков, все правки вносили без проблем, реализовали калькулятор так, как была поставлена задача. Отдельно хочу отметить админ панель, при работе с разными исполнителями в первый раз сделали настолько проработанную админку. Спасибо за работу! Обязательно обращусь еще.
