section.projects-block
  .container
    .header-block
      h2 Реализованные проекты
      a(href="#") Все проекты
    .projects-block__body
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_1.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_2.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_3.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_4.jpg", alt="")
      a(href="#").projects-block__item
        img(src="assets/img/upload/background/project_5.jpg", alt="")
