.services-list
      .services-list__item
        .services-list__icon
          img(src="assets/img/upload/icons/web.svg", alt="")
        h3.services-list__title Веб-разработка
        .services-list__text
          p Создание веб-проектов для решения уникальных бизнес-задач.
        a.services-list__link(href="#")
      .services-list__item
        .services-list__icon
          img(src="assets/img/upload/icons/setting.svg", alt="")
        h3.services-list__title Сопровождение и развитие
        .services-list__text
          p Техническое обслуживание сайта в режиме 24/7: актуализация контента, устрание ошибок, защита от вирусов, расширение функционала.
        a.services-list__link(href="#")
      .services-list__item
        .services-list__icon
          img(src="assets/img/upload/icons/phone.svg", alt="")
        h3.services-list__title Мобильная разработка
        .services-list__text
          p Разработка оригинальных приложений для iOS и Android на основе современных тенденций.
          p Создание уникального дизайна, программирование, подготовка к большим нагрузкам.
        a.services-list__link(href="#")
