extends common/layout

block content
  main.content
    include includes/index/01-main
    include includes/index/02-about
    include includes/common/projects-block
    include includes/common/core-value
    include includes/index/03-last-notes
    include includes/common/form
