extends common/layout

block content
  main.content
    include includes/services/01-main
    include includes/services/02-forensics
    include includes/services/03-work-process
    include includes/services/04-how-work
    include includes/common/projects-block
    include includes/services/05-technology
    include includes/common/core-value
    include includes/services/06-prices
    include includes/common/form
    include includes/services/08-other
