.feedbacks {
	&__body {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__item {
		flex: 0 0 calc(50% - 30px);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 25px 15px;
		border: 1px solid $border;
		border-radius: 5px;
	}
	&__link {
		flex: 0 0 auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;
		&:hover {
			.feedbacks {
				&__icon {
					background: darken($gray-l, 5);
				}
			}
		}
		span {
			margin: 0;
			padding: 0;
			font-size: 16px;
			line-height: 141.8%;
			display: flex;
			flex-direction: column;
		}
	}
	&__icon {
		flex: 0 0 auto;
		padding: 11px;
		border-radius: 5px;
		background: $gray-l;
		transition: all 0.5s ease;
		img {
			margin: 0;
			width: 28px;
			height: 28px;
		}
	}
	&__head {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		h3 {
			margin: 0;
		}
		p {
			margin: 0;
			margin-top: 5px;
			font-size: 14px;
		}
	}
	&__avatar {
		margin-right: 15px;
	}
	&__content {
		margin-top: 20px;
		flex: 1 1 100%;
		p {
			margin: 0;
			font-size: 16px;
			line-height: 140.8%;
		}
	}
}

@include media-tablet-horizontal {
	.feedbacks {
		&__body {
			gap: 20px;
		}
		&__item {
			flex: 1 1 100%;
			padding: 40px 25px;
		}
		&__content {
			margin-top: 30px;
		}
	}
}
@include media-mobile {
	.feedbacks {
		&__item {
			padding: 20px 10px;
		}
		&__link {
			margin-top: 20px;
			order: 1;
		}
		&__content {
			margin-top: 20px;
		}
	}
}
