section.main
  .container
    .main__image
      img(src="assets/img/upload/background/services_main.jpg", alt="")
    .main__content
      .subtitle Веб-разработка
      h1 Мы разрабатываем <br> сложные проекты
      p Ресурсоемкие, отказоустойчивые и надежные
      button(data-popup="#mainForm") Оставить заявку
