section.forensics
  .container
    .header-block
      h2 Экспертиза
    .forensics__body
      .forensics__item
        h3 Мы будем полезны, если:
        ul
          li Если вам нужна команда лучщих экспертов;
          li Фронт работ рассчитан на долгую перспективу сотрудничества;
          li Требуется несколько экспертиз в разработке;
          li Важна возможность оперативного масштабирования команды;
          li Желаете получить выдеденную компанду с отраслевым опытом;
      .forensics__item
        h3 Мы знаем как:
        ul
          li Работать с несколькими стеками и технологиями одновременно;
          li Обеспечить качество кода, на всех этапах разработки;
          li Требуется несколько экспертиз в разработке;
          li Интегрировать веб-решения с практически любой внутренней системой учета;
          li Работать с высокой нагрузкой на веб-ресурс;
