section.forensics
  .container
    .header-block
      h2 Как это работает
    .forensics__body
      .forensics__item
        h3 Вы
        ul
          li Предоставляете пожелания, эскизы сайта, скриншоты в любой удобной для Вас форме;
          li Обсуждаете с нами функционал будущего сайта;
          li Определяетесь со стилем;
          li Согласовываете и утверждаете присланный нами дизайн-макет;
          li Запускаете сайт!
      .forensics__item
        h3 Мы
        ul
          li Вникаем в ваш бизнес, обсуждаем все процессы, связанные с онлайн-решением;
          li Продумываем концепцию будущего сайта;
          li Рисуем и пишем код;
          li Согласовываем, вносим правки, утвержадем;
          li Делаем интеграцию дизайн-макетана современную CMS;
          li Устанавливаем сайт на Ваш аккаунт и вносим косметические правки;
          li Помогаем разобраться с Админ-панелью вашим менеджерам;
