section.technology
  .container
    h2 Технологии
    p У нас большой ареснал инструментов, чтобы создавать и поддерживать проекты  любой сложности
    .technology__body
      .technology__item
        h3 Backend:
        ul
          li Основной язык: PHP
          li Фреймворк: Laravel 5.x
          li CMS: Bitrix, WordPress, ModX
          li Базы данных: SQL/NoSQL: MySQL, PostgreSQL, Mongo, Redis
          li Другие технологии: NodeJS,  Go, Python (Системные сукрипты), GraphQL
      .technology__item
        h3 Frontend:
        ul
          li Основной язык: JavaScript
          li Фреймворк:VueJS, React
          li SSR: Nuxt, Next
          li Препроцессоры: scss, pug
          li БЭМ -методология
          li Сборщики кода: webpack, gulp
      .technology__item
        h3 Тестирование:
        ul
          li Unit-тестирование
          li Нагрузочное
          li Функциональное
          li Кроссбраузерное
