section.prices
  .container
    h2 Стоимость и сроки
    .subtitle Цены ориентировочные. Стоимость зависитот планируемой функциональности продукта .
    .prices__body
      .prices__item
        .prices__content
          h3.prices__name Одностраничный сайт
          p.prices__price От 30 000 ₽*
          span.prices__date от 2 до 4 недель
        .prices__icon
          img(src="assets/img/upload/icons/computer_result.svg", alt="")
      .prices__item
        .prices__content
          h3.prices__name Корпоративный сайт
          p.prices__price От 150 000 ₽*
          span.prices__date от 2 до 4 месяцев
        .prices__icon
          img(src="assets/img/upload/icons/algorithm_programming.svg", alt="")
      .prices__item
        .prices__content
          h3.prices__name Интернет-магазин
          p.prices__price От 500 000 ₽*
          span.prices__date от 3 до 6 месяцев
        .prices__icon
          img(src="assets/img/upload/icons/marketing.svg", alt="")
      .prices__item
        .prices__content
          h3.prices__name Веб-сервис
          p.prices__price От 1 200 000 ₽*
          span.prices__date от 3 месяцев
        .prices__icon
          img(src="assets/img/upload/icons/browser_global.svg", alt="")
    .prices__footer
      p *Подробную смету предоставим на этапе оценки и формирования контуров проекта. Оставьте заявку, чтобы мы подготовили для вас расчет.
      button Оставить заявку
