section.other-services
  .container
    h2 Другие услуги
    .other-services__body
      a.other-services__item(href="services.html")
        img(src="assets/img/upload/icons/setting.svg", alt="")
        p Сопровождение и развитие
      a.other-services__item(href="services.html")
        img(src="assets/img/upload/icons/phone.svg", alt="")
        p Мобильная разработка
