section.project
  .container
    .project-header(style="background-image: url('assets/img/upload/background/projects.jpg');")
      .project-header__logo
        img(src="assets/img/upload/logo_p.png", alt="Многоуровневая VR арена")
      h1.project-header__title Многоуровневая VR арена
      .project-header__sity
        h3 Сайт
        a(href="#" target="_blank") test.sity.ru
    .project-body
      .project-body__content
        h2 Цели проекта
        ul
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
        .video-container
          <iframe src="https://www.youtube.com/embed/K2JxjtRyOYk" title="Чемпионы по практической стрельбе играют в WARPOINT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        h2 Задачи
        ul
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
          li Проработка пользовательских сценариев взаимодействия с ключевыми (конверсионными) интерфейсами сайта
        h2 Решения
        p Рынок электронной коммерции в сфере B2B постепенно развивает цифровые каналы коммуникации. За 1,5 года появились новые сервисы с продуманным для бизнеса функционалом. Однако пока уровень цифровизации этого сектора рынка гораздо ниже, чем в розничной торговле. Это обусловлено нюансами сферы. Одна из главных проблем для производственных гигантов —  перенести логику работы в цифровую плоскость. Для корректного отображения данных и базового функционала B2B-порталов требуется интеграционный слой. А для этого необходимо отладить логику внутренних процессов и подготовить системы к интеграции. В металлургической отрасли, где продается и поставляется товар со специфическими характеристиками, бывает непросто организовать тот порядок, который нужен для цифровизации. Сложность повышается в случае, когда для каталога маркетплейса необходимо связать учетные системы разных компаний.
        h2 Результат
        p Рынок электронной коммерции в сфере B2B постепенно развивает цифровые каналы коммуникации. За 1,5 года появились новые сервисы с продуманным для бизнеса функционалом. Однако пока уровень цифровизации этого сектора рынка гораздо ниже
        img(src="assets/img/upload/background/img.jpg", alt="")
        img(src="assets/img/upload/background/img.jpg", alt="")
        .project-feedbacks
          .header-block
            h2 Отзыв клиента
          .project-feedbacks__body
            .feedbacks__item
              .feedbacks__head
                .feedbacks__avatar
                  img(src="assets/img/avatar.png", alt="")
                .feedbacks__name
                  h3 Иван Иванов
                  p Директор ООО “Компания”
              a(href="#").feedbacks__link
                .feedbacks__icon
                  img(src="assets/img/icons/documents.svg", alt="")
                span Скан отзыва <br> (PDF, 1 МБайт)
              .feedbacks__content
                p Выражаем благодарность коллективу компании «Факт» за успешное сотрудничество и своевременное выполнение всех поставленных задач. В январе 2021 года был запущен интернет магазин Выражаем благодарность коллективу компании «Факт» за успешное сотрудничество и своевременное выполнение всех поставленных задач. В январе 2021 года был запущен интернет магазин Выражаем благодарность коллективу компании «Факт» за успешное сотрудничество и своевременное выполнение всех поставленных задач. В январе 2021 года был запущен интернет


      .project-body__sidebar
        .project-body__company
          .project-body__sity
            h3 Сайт
            a(href="#" target="_blank") test.sity.ru
          .project-body__about
            h3 О компании
            img(src="assets/img/upload/logo_p.png", alt="Многоуровневая VR арена")
            p Рынок электронной коммерции в сфере B2B постепенно развивает цифровые каналы коммуникации. За 1,5 года Рынок электронной коммерции в сфере B2B постепенно развивает цифровые каналы коммуникации. За 1,5 года
    .project-footer
      .header-block
        h2 Другие проекты
        a(href="#") Все проекты
      .project-footer__body
        a(href="#").project-footer__item
          img(src="assets/img/upload/background/project_2.jpg", alt="")
        a(href="#").project-footer__item
          img(src="assets/img/upload/background/project_3.jpg", alt="")
        a(href="#").project-footer__item
          img(src="assets/img/upload/background/project_4.jpg", alt="")
