@import '../../../gulp/node_modules/normalize.css/normalize';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	background: $white;
	color: $gray-h;
	font-size: 18px;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

a,
button {
	cursor: pointer;
	color: inherit;
	border: none;
	box-shadow: none;
}
input,
textarea,
select {
	padding: 10px 0;
	border: none;
	border-bottom: 2px solid $black;
	font-size: 16px;
	line-height: 120.3%;
	color: $black;
	&:focus {
		outline: none;
		border-bottom: 2px solid $main;
	}
}
textarea {
	resize: none;
}

section {
	padding: 45px 0;
	@include media-mobile-horizontal {
		padding: 30px 0;
	}
}

.section-main {
	padding: 45px 0;
	padding-top: 140px;
	@include media-mobile-horizontal {
		padding: 30px 0;
		padding-top: 110px;
	}
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.lock {
	overflow: hidden;
}
.content {
	flex: 1 1 auto;
}
.content,
.header,
.footer {
	width: 100%;
}

.simple-post {
	margin-top: 50px;
}

.container {
	max-width: $mediaWidthLaptop;
	width: 100%;
	margin: 0 auto;
	@include media-tablet-horizontal {
		max-width: 940px;
	}
	@include media-tablet {
		padding: 0px 10px;
	}
}

.pagination {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 50px;
	gap: 5px;
	&-item {
		min-width: 28px;
		min-height: 28px;
		padding: 2px 7px;
		border-radius: 5px;
		border: 2px solid transparent;
		transition: all 0.5s ease;
		&:hover {
			border-color: $main;
		}
		&.active {
			border-color: $main;
			background: $main;
			color: $white;
		}
	}
}
